<div class="report-sect">
  <div class="block-list">
      <div>Latest blocks</div>
      <div class="block-card">
          <span class="block-button">Bk</span>
          <span class="block-number">789123</span>
          <span>miner:</span>
          <span class="block-miner">55556666</span>
      </div>
      <div class="block-card">
          <span class="block-button">Bk</span>
          <span class="block-number">789123</span>
          <span>miner:</span>
          <span class="block-miner">55556666</span>
      </div>
  </div>
  <div class="transaction-list">
      <div>Latest transactions</div>
      <div class="transaction-card">
          <span class="transaction-button">Tx</span>
          <span class="transaction-id">987654321</span>
          <span>from:</span>
          <span class="transaction-from">77778888</span>
          <span>to:</span>
          <span class="transaction-to">88889999</span>
      </div>
      <div class="transaction-card">
          <span class="transaction-button">Tx</span>
          <span class="transaction-id">987654321</span>
          <span>from:</span>
          <span class="transaction-from">77778888</span>
          <span>to:</span>
          <span class="transaction-to">88889999</span>
      </div>
  </div>
</div>