<mat-card class="wallet-create-card">

        <mat-card-header>
          <mat-icon>account_balance_wallet</mat-icon>
          <mat-card-title><h2>
              Or you may
            </h2></mat-card-title>
          <mat-card-subtitle><h2>
              Try generating entire new wallet
            </h2></mat-card-subtitle>
        </mat-card-header>


        <mat-card-actions>
          <button
            mat-raised-button
            type="button"
            (click)="createNewWallet()">
            Generate a new Wallet, Get its Private Key, and Use it
        </button>
        </mat-card-actions>

</mat-card>
