<!-- <mat-card class="wallet-validate-card"> -->

    <mat-card-header>
        <mat-icon>account_balance_wallet</mat-icon>
        <mat-card-title><h2>
            Current Transaction Pool
          </h2></mat-card-title>
        <mat-card-subtitle><h2>
            Get the reward by validate these unspent transaction. The chance depends on the balance in your wallet
          </h2></mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="validateTransactions()">
            Validate Transaction(s)
        </button>
      </mat-card-actions>
    

<!-- </mat-card> -->

