<mat-card-header>

    <mat-icon>account_balance_wallet</mat-icon>
    <mat-card-title><h2>
        Current Transaction Pool
        </h2></mat-card-title>
    <mat-card-subtitle><h2>
        Get the reward by mine these unspent transaction(s).
        </h2></mat-card-subtitle>

</mat-card-header>

<mat-card-content >

    <div *ngIf="enableMining">
        <p>
            This wallet is now mining
        </p>
    </div>

    <div *ngIf="!enableMining">
        <p>
            This wallet is now not mining
        </p>
    </div>

</mat-card-content>

<mat-card-actions>

    <button
        mat-raised-button
        [disabled]="enableMining"
        color="primary"
        type="button"
        (click)="mineTransactions()">
        Mine Transaction(s)
    </button>

    <button
        mat-raised-button
        [disabled]="enableMining"
        color="primary"
        type="button"
        (click)="startMiningTransactions()">
        Start Mining
    </button>

    <button
        mat-raised-button
        [disabled]="!enableMining"
        color="primary"
        type="button"
        (click)="stopMiningTransactions()">
        Stop Mining
    </button>

</mat-card-actions>