<mat-card class="wallet-recover-card">

        <mat-card-header>
          <mat-icon>account_balance_wallet</mat-icon>
          <mat-card-title><h2>
              If you have your own wallet already, 
            </h2></mat-card-title>
          <mat-card-subtitle><h2>
              Try recovering with your private key
            </h2></mat-card-subtitle>
        </mat-card-header>

      <form [formGroup]="form">
        <mat-card-content class="container">
          
            <mat-form-field >

                <input
                  matInput
                  placeholder="Enter your private key"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="privateKey"
                  class="private-key-form__input"
                  [class.error]="privateKeyControlInvalid">

                <mat-icon matSuffix
                  (click)="hide = !hide">
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>

                <div
                  class="private-key-form__error"
                  *ngIf="privateKeyControlInvalid">
                  <p>You must have a private key to recover a wallet</p>
                </div>

                <div
                class="private-key-form__error"
                *ngIf="privateKeyControlLengthInvalid">
                <p>The private key is invalid</p>
              </div>

            </mat-form-field>

        </mat-card-content>


        <mat-card-actions>
          <button
            mat-raised-button
            type="button"
            (click)="recoverWallet()">
            Recover a Wallet and Use it
          </button>
        </mat-card-actions>

    </form>

</mat-card>