<h1>
  List of Validated Block
</h1>

<mat-form-field class="search-form-field">
  
    <input
      matInput
      type="text"
      placeholder="Enter sender or recipient' address to filter the block data"
      [(ngModel)]="searchText">

    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>

</mat-form-field>

<div class="main">

  <mat-card
    class="validated-blocks-card center"
    *ngIf="block$ | async as blocks">

    <mat-card-content>

      <mat-list>
        <cdk-virtual-scroll-viewport itemSize="10">
          <block-item
            *ngFor="let block of blocks | filterblock : searchText | slice : lowValue : highValue"
            [block]="block">
          </block-item>
        </cdk-virtual-scroll-viewport>
      </mat-list>

    </mat-card-content>


    <mat-paginator
      [length]="blocks.length"
      [pageSize]="pageSize"
      (page)="pageEvent = getPaginatorData($event)">
    </mat-paginator>

  </mat-card>
</div>