<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon mat-list-icon>chrome_reader_mode</mat-icon>
      <mat-panel-title>
        <b>Index</b>: {{index}}
      </mat-panel-title>
      <mat-panel-description>
        <b>Timestamp</b>: {{timestamp | date: 'dd/MM/yyyy'}}
      </mat-panel-description>
      <mat-panel-description>
          Click to See More Details
      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-list-item>

      <h4 mat-line>
        <b>Hash:</b>
        <input
          matInput
          type="text"
          value="{{hash}}"
          class="address-form__input"
          readonly>
      </h4>

      <h4 mat-line>
        <b>Previous Hash:</b>
        <input
          matInput
          type="text"
          value="{{previousHash}}"
          class="address-form__input"
          readonly>
      </h4>
        
      <h4 mat-line>
        <b>Difficulty:</b>{{difficulty}}
      </h4>

    
      <mat-divider></mat-divider>
    
      <mat-list mat-line>
        <h3 mat-line><b>This block contains following:</b></h3>
        <transaction-item
          *ngFor="let transaction of data"
          [transaction]="transaction">
        </transaction-item>
        <br>
      </mat-list>
        
    </mat-list-item>

  </mat-expansion-panel>

</mat-accordion>